<style>
  :root {
    --back: #F7F7FA;
    --main-back: #ECEEF8;
    --accent: #4E69F0;
    --link: #4E69F0;
  }
</style>
<table style="
  background-color:#F7F7FA;    
              font-family:Roboto;
              font-family:Avenir;
              padding:10px 20px;
              border-radius:5px;
              margin:0 auto;
 ">
  <tr>
    <td style="padding:10px 20px;">
      <a href="https://fixter.camp">
        <img width="150" src="https://fixter.camp/static/media/geek_completo.7e1e87a7.png" alt="logo" />
      </a>
    </td>
    <td width="150">

    </td>
    <td width="150"></td>
  </tr>
  <tr>
    <td style="background:#ECEEF8;height:300px;border-radius:5px;padding:20px;text-align:center;color:#000;"
      colspan="3">
      <img width="250"
        src="https://ouch-cdn2.icons8.com/vCZ6HqFC_HTne8uUX8KB1rbDrH6CDt4hrbdriqUKw-Y/rs:fit:912:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNDMy/L2ZmYThhNzQyLWJl/OTQtNGYzMi05MTkz/LTk5YmQxMjY2NzMy/NC5zdmc.png"
        alt="main image" />
      <h2 style="font-weight:bold;">¡Prepárate para cambiar tu futuro!</h2>

      <p>Estamos muy emocionados de que seas parte del curso <br /><br /><strong
          style="color:#4E69F0;font-size:24px;">Aprende a programar con JavaScript</strong></p>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:center;">
      <h2>¡Comencemos!</h2>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-right:20px;">
      <h3>1.- Primero debes crear tu cuenta</h3>
      <p>Lo único que necesitas hacer es aceptar esta invitación y completar tus datos en la plataforma fixter.camp</p>
      <a href="https://www.fixter.camp/registro?next=/discipline-challenge" style="color:#4E69F0;text-decoration:none;">
        Crea tu cuenta >>
      </a>
    </td>
    <td>
      <div style="background:#ECEEF8;border-radius:50%;width:150px;height:150px;">
        <img width="150" src="https://github.com/HectorBlisS/loginBack/blob/master/flame-780.png?raw=true" />
        <div>
    </td>
  </tr>

  <tr>
    <td style="width:200px;">
      <div style="background:#ECEEF8;border-radius:50%;width:150px;height:150px;">
        <img width="150"
          src="https://ouch-cdn2.icons8.com/ubWGWyKt7622C1gB9LBq2ZypEv4AJndUS4a3WK_-reg/rs:fit:912:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvOC9h/Mzk5NzNhOC1kMTI3/LTRlOWYtYmRhOS1m/NTIzNjRmYWY3OGMu/c3Zn.png" />
        <div>
    </td>

    <td colspan="2">
      <h3>2.- Pasa la prueba de disciplina</h3>
      <p>
        Recuerda que el curso es gratuito por eso debes estar dispuest@ a trabajar duro y aprovechar el lugar que te
        será asignado y si no, dejarlo para alguien que lo aproveche.
      </p>
      <a href="https://www.fixter.camp/discipline-challenge" style="color:#4E69F0;text-decoration:none;">
        << Realizar la prueba </a>
    </td>
  </tr>

  <tr>
    <td colspan="2" style="padding-right:20px;">
      <h3>3.- Conoce a tu profesor</h3>
      <p>
        Una vez que termines la prueba de disciplina, debes crear una breve presentación de por qué quieres tomar el
        curso y enviarla junto con tu ejercicio a tu profesor HéctorBliss<br /> <strong>tienes hasta el 5 de enero del
          2021</strong>.
      </p>
      <a href="https://mail.google.com/mail/u/0/?fs=1&to=contacto@fixter.org&su=Prueba%20de%20diciplina&body=%C2%A1Hola%20H%C3%A9ctor!,%20Termin%C3%A9%20mi%20prueba%20de%20disciplina,%20te%20env%C3%ADo%20mi%20link%20con%20mi%20nombre%20completo:%20&bcc=brenda@fixter.org&tf=cm"
        style="color:#4E69F0;text-decoration:none;">Envía tu presentación >></a>
    </td>
    <td>
      <div style="background:#ECEEF8;border-radius:50%;width:150px;height:150px;">
        <img width="150" src="https://github.com/HectorBlisS/loginBack/blob/master/blissiPNG.png?raw=true" />
        <div>
    </td>
  </tr>

  <tr>
    <td style="width:200px;">
      <br />
      <div style="background:#ECEEF8;border-radius:50%;width:150px;height:150px;">
        <img width="200"
          src="https://ouch-cdn2.icons8.com/B7HsF4EFDukxD2ikd8P8Jz5Wapb5fnHNC8RFmZ12ZRY/rs:fit:1368:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNTcy/L2YzM2U3YTE5LTc0/NjItNDM5OC05ZjQ5/LTAzYjgyZGRmOTI1/MS5zdmc.png" />
        <div>
    </td>

    <td colspan="2">
      <h3>4.- ¡Todo listo!</h3>
      <p>
        Si eres seleccionado, tu profesor te enviará un correo con la información del curso, tus horarios para las
        clases en vivo y el acceso al material del curso.
      </p>
      <a href="https://fixter.camp/bootcamp-descript-web" style="color:#4E69F0;text-decoration:none;">
        << Revisa el temario </a>

    </td>
  </tr>

  <tr>
    <td colspan="3" style="text-align:center;">
      <h2>¡Nos vemos en clase!</h2>
    </td>
  </tr>

  <tr>
    <td colspan="3"
      style="padding:10px 20px;background:#ECEEF8;border-radius:5px;vertical-align:middle;text-align:center;">
      <a href="https://fixter.camp">
        <img width="100" src="https://fixter.camp/static/media/geek_completo.7e1e87a7.png" alt="logo" />
      </a>
    </td>
  </tr>

</table>