<style type='text/css'>
  *{margin: 0; padding: 0;}
</style>
<table
  width='100%'
  style="@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family');
    color: #767676;"
>
  <tr>
    <td bgcolor='#323232' align='center' height='72px' colspan='2'>
      <img
        src='https://fixter.camp/static/media/geek_completo.7e1e87a7.png'
        alt='Fixter Logo'
        width='130px'
        style='padding: 20px;'
      />
    </td>
  </tr>
  <tr>
    <td
      colspan='2'
      style='font-style: normal; font-weight: normal; font-size: 14px; padding: 32px'
    >
      <h4
        style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: bold; font-size: 24px; line-height: 24px; color: #323232; margin-bottom:16px;"
      >
        ¿Hola estas list@ para comenzar?
      </h4>
      <p
        style="font-family: 'Roboto', sans-serif; margin-bottom:16px; font-size: 16px; line-height:140%"
      >
        Tu bootcamp: Aprende a programar con JS, comienza mañana.
      </p>
      <p
        style="font-family: 'Roboto', sans-serif; text-align: justify; font-size: 16px;line-height:140%"
      >
        Las sesiones en vivo con Héctor Bliss se llevarán acabo por medio de
        <strong>
          Zoom
        </strong>
        , y queremos que lo tengas todo listo e instalado en tu computadora.
      </p>
    </td>
  </tr>
  <tr>
    <td style='padding: 0px 16px 0px 48px;'>
      <img
        src='http://www.grupoedistel.com/wp-content/uploads/2021/01/Zoom-App-Icon-2.png'
        alt='aprende js'
        width='120px'
        height='120px'
      />
    </td>
    <td style='padding-right: 48px;'>
      <h3
        style="font-family: 'Inter', sans-serif; font-style: normal; font-weight: bold; font-size: 18px;"
      >
        Descarga el programa desde su sitio oficial.
      </h3>
      <p
        style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal; font-size: 16px;line-height:140%"
      >
        <a href="https://zoom.us/download" >Descarga zoom aquí</a>
      </p>
    </td>
  </tr>
  <tr>
    <td style='padding: 0px 16px 0px 48px; padding-top: 40px;'>
      <img
        src='https://cdn.vox-cdn.com/thumbor/3_Vl_CkLipAx6hcGJfqKwqRU0WE=/0x0:950x534/1200x800/filters:focal(399x191:551x343)/cdn.vox-cdn.com/uploads/chorus_image/image/67455760/zoom_accessibility.0.jpg'
        alt='Aprende micro servicios con docker'
        width='120px'
        height='120px'
      />
    </td>
    <td style='padding-right:48px; padding-top: 40px;'>
      <h3
        style="font-family: 'Inter', sans-serif; font-style: normal; font-weight: bold; font-size: 18px;"
      >
        Esta es la liga para entrar a la llamada
      </h3>
      <p
        style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal; font-size: 16px; line-height: 140%;"
      >
        Será la misma todo el bootcamp así que asegurate de guardarla en donde puedas encontrarla fácilmente. Recuerda que las clases en vivo son Martes y Jueves de 7pm a 9pm. <b>(nos vemos mañana 7pm)</b>
<a href="https://us02web.zoom.us/j/87621788006?pwd=MUhYelIzWW1aV3hKZTN4SURNaUZyQT09">https://us02web.zoom.us/j/87621788006?pwd=MUhYelIzWW1aV3hKZTN4SURNaUZyQT09</a>
      </p>
    </td>
  </tr>
  <tr>
    
      <tr>
    <td style='padding: 0px 16px 0px 48px; padding-top: 40px;'>
      <img
        src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Font_Awesome_5_brands_discord_color.svg/1200px-Font_Awesome_5_brands_discord_color.svg.png'
        alt='Aprende micro servicios con docker'
        width='120px'
        height='120px'
      />
    </td>
    <td style='padding-right:48px; padding-top: 40px;'>
      <h3
        style="font-family: 'Inter', sans-serif; font-style: normal; font-weight: bold; font-size: 18px;"
      >
        También queremos que estés en contacto con tu grupo
      </h3>
      <p
        style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal; font-size: 16px; line-height: 140%;"
      >
        Este es el grupo de Discord que usarémos para comunicarnos y ayudarnos con las dudas de la clase, además de conocer a tu TA (Teaching Assistant) quien responderá muchas de tus dudas en el transcurso de la semana.
<a href="https://discord.gg/yjwTB5SQ">https://discord.gg/yjwTB5SQ</a>
      </p>
    </td>
  </tr>
  <tr>
    
    <td
      colspan='2'
      align='center'
      style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal; font-size: 14px; line-height: 21px; padding: 40px 32px 0px 32px;"
    >
      <p
        style="font-family: 'Roboto', sans-serif; text-align: left; margin-bottom:16px;font-size: 16px;line-height:140%"
      >
        Completando lo anterior, ¡Todo estaría listo para comenzar!, las herramientas que instalaremos para programar las iremos instalando poco a poco conforme las usemos, por ahora preparate un <b>Fun Fact</b> para compartirlo mañana con el resto del grupo, cómo por ejemplo uno mío sería que "me encanta cocinar pero todo se me quema" (true story U_U)
      </p>
      <p
        style="font-family: 'Roboto', sans-serif;text-align: center;font-size: 16px;"
      >
        Síguenos en redes para estar al pendiente de eventos, charlas, cursos y promociones.
        <br />
        ¡Nos vemos mañana!
      </p>
      <a href='https://www.fixter.camp/bootcamp' target='_blank'>
        <button
          align='center'
          style='border-radius: 5px; border: none; font-size: 16px; background-color: #BB333C; padding: 15px 90px; color:white; margin: 28px 0px 32px;'
        >
          Ir a Fixter.camp
        </button>
      </a>
    </td>
  </tr>
  <tr bgcolor='#323232'>
    <td colspan='2' align='center'>
      <a
        href='https://www.facebook.com/fixterme'
        style='text-decoration: none;'
      >
        <img
          src='https://i.imgur.com/di5Pm7D.png'
          height='24'
          width='24'
          alt='facebook'
          style='margin-top: 30px;'
        />
      </a>
      <a
        href='https://www.instagram.com/fixtergeek/'
        style='text-decoration: none;'
      >
        <img
          src='https://i.imgur.com/qImMrWg.png'
          height='24'
          width='24'
          alt='instagram'
          style='margin-left: 20px;'
        />
      </a>
      <a
        href='https://www.youtube.com/channel/UC2cNZUym14-K-yGgOEAFh6g'
        style='text-decoration: none;'
      >
        <img
          src='https://i.imgur.com/suEEOf6.png'
          height='24'
          width='24'
          alt='youtube'
          style='margin-left: 20px;'
        />
      </a>
      <a href='#' style='text-decoration: none;'>
        <img
          src='https://i.imgur.com/qpBtLce.png'
          height='24'
          width='24'
          alt='twitter'
          style='margin-left: 20px;'
        />
      </a>
      <p
        style='font-family: Source Sans Pro; font-style: normal; font-weight: normal; font-size: 14px; line-height: 21px; margin: 16px 0px 24px 0px;'
      >
        © 2016 Todos los derechos reservados.
      </p>
    </td>
  </tr>
</table>