<style type='text/css'>
  *{margin: 0; padding: 0;}
</style>
<table
  width='100%'
  style="@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family');
    color: #767676;"
>
  <tr>
    <td bgcolor='#323232' align='center' height='72px' colspan='2'>
      <img
        src='https://fixter.camp/static/media/geek_completo.7e1e87a7.png'
        alt='Fixter Logo'
        width='130px'
        style='padding: 20px;'
      />
    </td>
  </tr>
  <tr>
    <td
      colspan='2'
      style='font-style: normal; font-weight: normal; font-size: 14px; padding: 32px'
    >
      <h4
        style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: bold; font-size: 24px; line-height: 24px; color: #323232; margin-bottom:16px;"
      >
        ¡Hola!
      </h4>
      <p
        style="font-family: 'Roboto', sans-serif; margin-bottom:16px; font-size: 16px; line-height:140%"
      >
        Ha pasado tiempo desde que nos visitaste por última vez.
      </p>
      <p
        style="font-family: 'Roboto', sans-serif; text-align: justify; font-size: 16px;line-height:140%"
      >
        Hemos lanzado una nueva edición de
        <strong>
          Bootcamps híbrídos
        </strong>
        , y queremos que seas parte de ellos. Así que si quieres aprender a programar, o aprender nuevos lenguajes de desarrollo, en el mes de abril tenemos estos lanzamientos para ti:
      </p>
    </td>
  </tr>
  <tr>
    <td style='padding: 0px 16px 0px 48px;'>
      <img
        src='https://i.imgur.com/BYTwu8s.jpg'
        alt='aprende js'
        width='120px'
        height='120px'
      />
    </td>
    <td style='padding-right: 48px;'>
      <h3
        style="font-family: 'Inter', sans-serif; font-style: normal; font-weight: bold; font-size: 18px;"
      >
        ¡Aprende a programar con JavaScript!
      </h3>
      <p
        style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal; font-size: 16px;line-height:140%"
      >
        Aprenderás la sintaxis de JavaScript, como utilizar correctamente las condicionales y ciclos para construir programas ordenados y eficientes, también aprenderás sobre programación orientada a objetos y programación funcional, para al final, utilizar estos conocimientos junto con HTML y CSS para crear sitios web interactivos.
      </p>
    </td>
  </tr>
  <tr>
    <td style='padding: 0px 16px 0px 48px; padding-top: 40px;'>
      <img
        src='https://i.imgur.com/3ARtg2m.png'
        alt='Aprende micro servicios con docker'
        width='120px'
        height='120px'
      />
    </td>
    <td style='padding-right:48px; padding-top: 40px;'>
      <h3
        style="font-family: 'Inter', sans-serif; font-style: normal; font-weight: bold; font-size: 18px;"
      >
        ¡Aprende microservicios con Docker!
      </h3>
      <p
        style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal; font-size: 16px; line-height: 140%;"
      >
        Aprenderás como funciona Docker, como se usa en etapas de desarrollo y producción a través de prácticas de integración y despliegue continuos. Este curso te puede ayudar a solucionar el clásico problema en equipos de trabajo "En mi máquina si funciona" sin importar si tu rol es Frontend, Backend o Científico de Datos; además conocerás como implementar Docker con herramientas como GitHub Actions y AWS.
      </p>
    </td>
  </tr>
  <tr>
    <td
      colspan='2'
      align='center'
      style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal; font-size: 14px; line-height: 21px; padding: 40px 32px 0px 32px;"
    >
      <p
        style="font-family: 'Roboto', sans-serif; text-align: left; margin-bottom:16px;font-size: 16px;line-height:140%"
      >
        Y sí te preguntas, ¿Cómo es un bootcamp híbrido? bajo esta modalidad, tendrás acceso a los recursos del bootcamp en la plataforma web, recursos en video y lecciones practicas, con base en las cuáles completarás algunas tareas correspondientes a cada tema, y además, tendrás 32hrs de clases en vivo con tu instructor, distribuidas en 16 sesiones de 2 horas cada una (2 sesiones semanales). Aprovecha lo mejor de dos mundos, aprende el lenguaje o herramienta que te gusta, a tu ritmo de la mano de un instructor con experiencia en el área.
      </p>
      <p
        style="font-family: 'Roboto', sans-serif; text-align: left; margin-bottom:16px; font-size: 16px;"
      >
        Puedes ver toda la información en
        <a
          href='https://www.fixter.camp/bootcamp'
          style='text-decoration: none; color: #BB333C;'
        >
          <strong>
            www.fixter.camp
          </strong>
        </a>
        y si quieres ser parte de esta edición, tenemos un
        <strong>
          descuento del 30%
        </strong>
        para ti usando el código:
      </p>
      <h4
        style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 24px; line-height: 24px; color: #323232; margin-bottom:16px;"
      >
        COMMUNITY30
      </h4>
      <p
        style="font-family: 'Roboto', sans-serif;text-align: center;font-size: 16px;"
      >
        Síguenos en redes para estar al pendiente de eventos, charlas, cursos y promociones.
        <br />
        ¡Te esperamos!
      </p>
      <a href='https://www.fixter.camp/bootcamp' target='_blank'>
        <button
          align='center'
          style='border-radius: 5px; border: none; font-size: 16px; background-color: #BB333C; padding: 15px 90px; color:white; margin: 28px 0px 32px;'
        >
          Ir a Fixter.camp
        </button>
      </a>
    </td>
  </tr>
  <tr bgcolor='#323232'>
    <td colspan='2' align='center'>
      <a
        href='https://www.facebook.com/fixterme'
        style='text-decoration: none;'
      >
        <img
          src='https://i.imgur.com/di5Pm7D.png'
          height='24'
          width='24'
          alt='facebook'
          style='margin-top: 30px;'
        />
      </a>
      <a
        href='https://www.instagram.com/fixtergeek/'
        style='text-decoration: none;'
      >
        <img
          src='https://i.imgur.com/qImMrWg.png'
          height='24'
          width='24'
          alt='instagram'
          style='margin-left: 20px;'
        />
      </a>
      <a
        href='https://www.youtube.com/channel/UC2cNZUym14-K-yGgOEAFh6g'
        style='text-decoration: none;'
      >
        <img
          src='https://i.imgur.com/suEEOf6.png'
          height='24'
          width='24'
          alt='youtube'
          style='margin-left: 20px;'
        />
      </a>
      <a href='#' style='text-decoration: none;'>
        <img
          src='https://i.imgur.com/qpBtLce.png'
          height='24'
          width='24'
          alt='twitter'
          style='margin-left: 20px;'
        />
      </a>
      <p
        style='font-family: Source Sans Pro; font-style: normal; font-weight: normal; font-size: 14px; line-height: 21px; margin: 16px 0px 24px 0px;'
      >
        © 2016 Todos los derechos reservados.
      </p>
    </td>
  </tr>
</table>