<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    table{
      font-family: 'Roboto', sans-serif;
      color: #767676;
    }
</style>
</head>

<body>
<style type="text/css">*{margin: 0; padding: 0;}</style>
<table 
    width="100%" 
    style=""
>
    <tr>
        <td bgcolor="#323232" align="center" height="72px" colspan="2">
            <img src="geek_completo 1.png" alt="Fixter Logo" width="130px" style="padding: 20px;">
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family: Source Sans Pro; font-style: normal; font-weight: normal; font-size: 14px; padding: 32px">
            <h4 style="font-family: 'Roboto', sans-serif; font-style: normal; font-weight: bold; font-size: 24px; line-height: 24px; color: #323232; margin-bottom:16px;">!Hola¡</h4>
            <p style="margin-bottom:16px;">Ha pasado tiempo desde que nos visitaste por última vez.</p>
            <p style="text-align: justify;">Hemos lanzado una nueva edición de <strong>Bootcamps híbrídos</strong>, y queremos que seas parte de ellos. Así que si quieres aprender a programar, o aprender nuevos lenguajes de desarrollo, en el mes de abril tenemos estos lanzamientos para ti:</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0px 16px 0px 48px;">
            <img src="./21105860.png" alt="aprende js" width="120px" height="120px">
        </td>
        <td style="padding-right: 48px;">
            <p style="font-style: normal; font-weight: bold; font-size: 14px; line-height: 21px; ">¡Aprende a programar con JavaScript!</p>
            <p style="font-style: normal; font-weight: normal; font-size: 12px; line-height: 15px; ">Aprenderás la sintaxis de JavaScript, como utilizar correctamente las condicionales y ciclos para construir programas ordenados y eficientes, también aprenderás sobre programación orientada a objetos y programación funcional, para al final, utilizar estos conocimientos junto con HTML y CSS para crear sitios web interactivos.</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0px 16px 0px 48px; padding-top: 40px;">
            <img src="./21105861.png" alt="Aprende micro servicios con docker" width="120px" height="120px">
        </td>
        <td style="padding-right:48px; padding-top: 40px;">
            <p style="font-style: normal; font-weight: bold; font-size: 14px; line-height: 21px; ">¡Aprende microservicios con Docker!</p>
            <p style="font-style: normal; font-weight: normal; font-size: 12px; line-height: 15px; ">Aprenderás como funciona Docker, como se usa en etapas de desarrollo y producción a través de prácticas de integración y despliegue continuos. Este curso te puede ayudar a solucionar el clásico problema en equipos de trabajo "En mi máquina si funciona" sin importar si tu rol es Frontend, Backend o Científico de Datos; además conocerás como implementar Docker con herramientas como GitHub Actions y AWS.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center" style="font-family: Source Sans Pro; font-style: normal; font-weight: normal; font-size: 14px; line-height: 21px; padding: 40px 32px 0px 32px;">
            <p style="text-align: left; margin-bottom:16px;">Y sí te preguntas, ¿Cómo es un bootcamp híbrido? bajo esta modalidad, tendrás acceso a los recursos del bootcamp en la plataforma web, recursos en video y lecciones practicas, con base en las cuáles completarás algunas tareas correspondientes a cada tema, y además, tendrás 32hrs de clases en vivo con tu instructor, distribuidas en 16 sesiones de 2 horas cada una (2 sesiones semanales). Aprovecha lo mejor de dos mundos, aprende el lenguaje o herramienta que te gusta, a tu ritmo de la mano de un instructor con experiencia en el área.</p>
            <p style="text-align: left; margin-bottom:16px;">Puedes ver toda la información en <a href="https://www.fixter.camp/bootcamp" style="text-decoration: none; color: #BB333C;" > <strong>www.fixter.camp</strong></a> y si quieres ser parte de esta edición, tenemos un <strong>descuento del 30%</strong> para ti usando el código:</p>
            <h4 style="font-weight: bold; font-size: 24px; line-height: 24px; color: #323232; margin-bottom:16px;">COMMUNITY30</h4>
            <p style="text-align: center;">Síguenos en redes para estar al pendiente de eventos, charlas, cursos y promociones.<br> ¡Te esperamos!</p>
            <a href="https://www.fixter.camp/bootcamp" target="_blank"><button align="center" style="border-radius: 5px; border: none; font-size: 16px; background-color: #BB333C; padding: 15px 90px; color:white; margin: 28px 0px 32px;">Ir a Fixter.camp</button></a>
        </td>
    </tr>
    <tr bgcolor="#323232">
        <td colspan="2" align="center">
            <a href="https://www.facebook.com/fixterme" style="text-decoration: none;">
                <img src="facebook.svg" height="24" width="24" alt="facebook" style="margin-top: 30px; ">
            </a>
            <a href="https://www.instagram.com/fixtergeek/" style="text-decoration: none;">
                <img src="instagram.svg" height="24" width="24" alt="instagram" style="margin-left: 20px;" >
            </a>
            <a href="https://www.youtube.com/channel/UC2cNZUym14-K-yGgOEAFh6g" style="text-decoration: none;">
                <img src="youtube.svg" height="24" width="24" alt="youtube" style="margin-left: 20px;">
            </a>
            <a href="#" style="text-decoration: none;">
                <img src="twitter.svg" height="24" width="24" alt="twitter" style="margin-left: 20px;">
            </a>
            <p style="font-family: Source Sans Pro; font-style: normal; font-weight: normal; font-size: 14px; line-height: 21px; margin: 16px 0px 24px 0px;">© 2016 Todos los derechos reservados</p>
        </td>
    </tr>
</table>
</body>
</html>